* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 16px;
    color: gray;
}

#top-banner {
    text-align: center;
    font-size: 30px;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.top-banner-content {
    padding-top: 50px;
}

.top-banner-content a {
    margin-top: 50px;
}


.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

.flexible-container {
    display: flex;
    margin-bottom: 10px;

}

#box-item {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#background-color {
    background-color: #FFF4D6;
    padding: 60px 60px;
    width: 50%;
    margin-left: 20%;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

#emails {
    background-color: gainsboro;
    padding: 10px 40px;
    border-radius: 5px;
}

.text-design {
    font-size: 20px;
    color: brown;
}

.footer-design {
    background-color: black;
    height: 100px;
}